---
import Horarios from '../components/Horarios.astro';
import Contactos from '../components/Contactos.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Cambio Plus">
	<section class="flex flex-col gap-4 bg-gray-100 pt-6 justify-center items-center mt-3 md:flex-row md:justify-evenly md:items-start">		
		<Horarios />
		<Contactos />
	</section>
</Layout>