<section class="">
    <h2 class="">Somos casa de Cambio</h2>
    <p>Recibimos a partir de un dolar * Ciertas condiciones aplican</p>
    <p class="">Hacemos tus cambios, giros y remesas Internacionales de forma, sencilla, rápida y confiable, Desde 2015</p>
</section>