<section class="flex flex-col justify-end items-end gap-3 w-full h-full px-4 pt-48 pb-32 bg-aboutUsBackground bg-cover bg-center">
    <div class="flex flex-col md:w-1/2 text-terciary-200">
        <h2 class="mb-3 text-3xl">Acerca de Nosotros</h2>
        <p class="text-lg">Hacemos tus cambios, giros y remesas Internacionales de forma, sencilla, rápida y confiable, Desde 2015</p>        
        <div class="w-max mt-3 py-2 px-4 rounded-full border-2 transition duration-300 border-secondary-300 text-terciary-200/60 bg-secondary-300/20 hover:text-terciary-200 hover:bg-secondary-300 cursor-pointer">
            <a href="/nosotros">Saber Más</a>
        </div>
    </div>
</section>