<section class="w-full h-2/4 flex flex-col justify-center items-center py-28 bg-yellow-600/20">
    <h2 class="w-3/4 text-center text-green-800 font-extrabold">Acerca de nosotros</h2>
    <p class="w-3/4 text-center text-green-600 font-extrabold">Hacemos tus cambios, giros y remesas Internacionales de forma, sencilla, rápida y confiable, Desde 2015</p>
</section>