---
import MenuIcon from "./MenuIcon.astro";
const navlinks = [
    {link: 'Inicio', to: "/"},
    {link: 'Nosotros', to: "/Nosotros"},
    {link: 'Servicios', to: "/Servicios"},
    {link: 'FAQs', to: "/FAQs"},
    {link: 'Contactos', to: "/Contactos"},
    ]
---
<script>
    const toggleBtn = document.querySelector('[data-toggleBtn]')
    const navlink = document.querySelector('[data-navlinks]')
    const hamburguerIcon = document.querySelectorAll('[data-menuIcon]')
    const handleToggleBtn = () => {
        navlink.classList.toggle('max-md:max-h-52')
        console.log(hamburguerIcon);
        hamburguerIcon[0].classList.toggle('absolute')
        hamburguerIcon[0].classList.toggle('top-2')
        hamburguerIcon[0].classList.toggle('rotate-45')
        hamburguerIcon[1].classList.toggle('bg-transparent')
        hamburguerIcon[2].classList.toggle('absolute')
        hamburguerIcon[2].classList.toggle('top-2')
        hamburguerIcon[2].classList.toggle('rotate-[-45deg]')
    }
    toggleBtn.addEventListener('click', handleToggleBtn)
</script>

<header class="shadow fixed w-full z-10">
    <nav class="flex flex-col relative justify-between items-start pl-6 py-3 bg-[#05355F] md:pr-6 md:flex-row md:items-center overflow-hidden">
        <nav>
            <a href="/">
                <img
                    class="aspect-square h-12 md:h-14 rounded-full border-2 border-green-600" 
                    src="/public/assets/logo.jpg" 
                    alt="Logo Cambio Plus"
                >
            </a>
        </nav>
        <button           
            data-toggleBtn
            class="absolute top-6 right-4 flex flex-col justify-between w-8 h-5 md:hidden"
        >
            <span data-menuIcon class="h-1 w-full bg-white rounded-xl transition-all duration-200 ease-in"></span>
            <span data-menuIcon class="h-1 w-full bg-white rounded-xl"></span>
            <span data-menuIcon class="h-1 w-full bg-white rounded-xl transition-all duration-200 ease-in"></span>
        </button>
        <!-- <MenuIcon /> -->
        <ul 
            data-navlinks
            class="max-md:max-h-0 peer-checked/menuIcon:max-md:max-h-52 flex flex-col md:flex-row max-md:w-full h-full m-0 py-0 px-4 tansition ease-linear duration-300"
        >
            {
                navlinks.map(({link, to}) => (
                    <li class="list-none text-right">
                        <a 
                            class="block font-semibold py-2 hover:text-white text-white/50 md:p-4"
                            href={to}
                        >
                            {link}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>

