<section class="w-full h-7 max-h-16 flex flex-col items-center justify-center">
    <figure class="w-full h-full">
        <img
            class="object-cover bg-no-repeat" 
            src="/assets/building.jpg" alt="building hero background"
        >
    </figure>
    <figure class="w-2/4 h-auto my-0 mx-auto">
        <img
            class="w-2/4 top-2/3 object-cover bg-no-repeat rounded-full aspect-square border-8 border-white" 
            src="/assets/hands-together.jpg" alt="hands together"
        >
    </figure>
</section>