<section class="h-screen bg-heroBackground bg-center bg-no-repeat bg-cover">
    <div
        class="h-full flex flex-col gap-3 justify-end items-start p-6"
    >
        <h2 class="text-5xl w-2/4 text-white">Comunicate y Consulta Nuestras Tasas</h2>
        <div class=" flex gap-1 w-max -skew-x-12 uppercase text-lg font-bold ">
            <div class="h-full w-3 bg-accent-100"></div>
            <div class="h-full w-4 bg-accent-100"></div>
            <div class="py-1 px-6 bg-accent-100">
                <a                 
                    href="https://api.whatsapp.com/message/MDB63KJSIPBKO1?autoload=1&app_absent=0"
                >
                    <p class="text-white text-center">whatsapp</p>
                    <p class="text-secondary-100">+57 3212356823</p>
                </a>
            </div>
        </div>
    </div>    
</section>