<section class="h-screen bg-heroBackground bg-center">
    <div
        class="h-full flex flex-col gap-3 justify-end items-start p-6"
    >
        <h2 class="text-5xl w-2/4 text-white">Comunicate y Consulta Nuestras Tasas</h2>
        <div class="bg-accent-100 w-max p-3 -skew-x-12 uppercase text-lg font-bold ">
            <a                 
                href="https://api.whatsapp.com/message/MDB63KJSIPBKO1?autoload=1&app_absent=0"
            >
                <p class="text-white">whatsapp</p>
                <p class="text-secondary-100">+57 3212356823</p>
            </a>        
        </div>
    </div>    
</section>