<input 
    class="peer/menuIcon"
    type="checkbox"
>
<label 
class="absolute top-8 right-7 w-10 h-full md:hidden cursor-pointer"
    for="menu-btn"
>
<span 
    class="
            peer-checked/menuIcon:bg-transparent bg-white/60 block h-1 w-10 relative transition duration-200 ease-in-out rounded-xl 
            peer-checked/menuIcon:before:rotate-180 before:bg-white/60 before:block before:h-full before:w-full before:absolute before:top-[10px] before:rounded-xl
            peer-checked/menuIcon:after:rotate-45 after:bg-white/60 after:block after:h-full after:w-full after:absolute after:top-[-10px] after:rounded-xl
        ">
</span>
</label>