<section class="w-full flex flex-col mx-auto justify-start items-start gap-3 px-4 py-6 bg-servicesUsBackground bg-center bg-no-repeat bg-cover">
    <div class="flex flex-col md:w-1/2 text-secondary-200 font-semibold uppercase pb-40">
        <h2 class="mb-6 text-4xl">En cualquier pais que estes</h2>
        <p class="w-2/3 text-xl text-white items-end">Puedes hacer tus giros, cambios y remreses con nostros</p>
        <div class="w-56 mt-6 py-2 px-4 rounded-full border-2 transition duration-300 border-secondary-300 text-white/60 bg-secondary-300/20 hover:text-terciary-200 hover:bg-secondary-300 cursor-pointer capitalize">
            <a href="/servicios">Conoce todos nuestros servicios</a>
        </div>
    </div>
    <div class="flex gap-1 w-max h-16 -skew-x-12 uppercase text-lg font-bold mt-40 self-end">
        <div class="h-full w-3 bg-secondary-200"></div>
        <div class="h-full w-4 bg-secondary-200"></div>
        <div class="py-1 px-6 bg-secondary-200">
            <a                 
                href="https://api.whatsapp.com/message/MDB63KJSIPBKO1?autoload=1&app_absent=0"
            >
                <p class="text-white text-center">whatsapp</p>
                <p class="text-white">+57 3212356823</p>
            </a>
        </div>
    </div>
</section>