---
import Footer from '../components/Footer.astro';
import Footer2 from '../components/Footer2.astro';
import Header from '../components/Header.svelte';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />		
		<link rel="shortcut icon" href="/assets/logo.jpg" type="image/jpeg">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col bg-gray-100">
		<Header client:load/>
			<main class="flex-1 w-full h-full pt-16 flex flex-col">
				<slot />
			</main>
		<Footer2 />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--primary-100:#0AB485;
		--primary-200:#00966a;
		--primary-300:#00552f;
		--accent-100:#F2C94C;
		--accent-200:#886b00;
		--text-100:#FFFFFF;
		--text-200:#e0e0e0;
		--bg-100:#05355F;
		--bg-200:#204571;
		--bg-300:#3e5e8d;
      
	}
	html {
		font-family: system-ui, sans-serif;		
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
